# Node
node_modules/
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Build / framework
dist/
build/
.next/
out/
.vite/

# Env
.env
.env.*            # .env.development .env.production etc
.env.local
.env.*.local

# Supabase local/state
supabase/.env
supabase/.local
supabase/.cache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Misc
coverage/



supabase/config.toml
supabase/.temp
